<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Librarily{% endblock title %}</title>
</head>

<body>
	<h1>
        {% block header %}{% endblock header%}
	</h1>
    <div id="content">
        {% block content %}{% endblock content%}
    </div>
	<br/>
    <div id="nav">
		<a href="{% url 'libraries:library_list' %}">All libraries</a>
		<a href="{% url 'libraries:author_list' %}">All authors</a>
		<a href="{% url 'libraries:book_list' %}">All books</a>
		<a href="{% url 'libraries:place_list' %}">All places</a>
    </div>
	<br/>
	<div>
		<a href="{% url 'libraries:logout' %}">Log out</a>
	</div>
</body>
</html>
