<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/libraries/style.css" %}" />
	<script type="text/javascript" src="{% static "js/jquery-2.1.3.min.js" %}"></script> 
	<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script> 
	{% block head %}
	{% endblock head %}
    <title>{% block title %}Librarily{% endblock title %}</title>
</head>

<body>
	<h1>
        {% block header %}{% endblock header%}
	</h1>
    <div id="content">
        {% block content %}{% endblock content%}
    </div>
	<br/>
    <div id="nav">
		<a href="{% url 'libraries:library_list' %}">All libraries</a>
		<a href="{% url 'libraries:author_list' %}">All authors</a>
		<a href="{% url 'libraries:book_list' %}">All books</a>
		<a href="{% url 'libraries:place_list' %}">All places</a>
    </div>
	<br/>
	<div>
		<a href="{% url 'libraries:logout' %}">Log out</a>
	</div>
</body>
</html>
