bcrypt==1.1.0
cffi==0.8.6
Django==1.7.4
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git@2ab2c8361f893fc171bba06d53a66fa7dc6f26a2#egg=django_debug_toolbar-master
django-extensions==1.4.9
django-jsonview==0.4.3
django-livefield==2.1.0
django-logicaldelete==1.2
django-model-utils==2.2
django-softdelete==0.3.4
flake8==2.3.0
mccabe==0.3
pep8==1.6.2
psycopg2==2.5.4
pycparser==2.10
pyflakes==0.8.1
six==1.9.0
sqlparse==0.1.14
Werkzeug==0.9.6
